---
const {
  caption = null,
  className = '',
  isContained = true,
  margin = 'margin-y-5',
  width = 'wide'
} = Astro.props;

const containerClasses = ['container wide', margin].filter(Boolean).join(' ');
const figureClasses = [
  isContained && width,
  !isContained && margin,
  className
].filter(Boolean).join(' ');
---
{isContained ? (
  <div class={containerClasses}>
    <figure class={figureClasses}>
      <slot />
      {caption && (
        <figcaption class="font-size-md">
          <p><em>{caption}</em></p>
        </figcaption>
      )}
    </figure>
  </div>
) : (
  <figure class={figureClasses}>
    <slot />
    {caption && (
      <figcaption class="font-size-md">
        <p><em>{caption}</em></p>
      </figcaption>
    )}
  </figure>
)}
